* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: pink;
  border-radius: 5px;
  color: black;
}
#navbar ol li a {
  display: flex;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  border: 2px red;
  border-radius: 5px;
  font-size: 1.5rem;
}
#navbar ol {
  list-style: none;
}
a:hover {
  color: black;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 5px;
}
.form-group {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
}
#buttons input {
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.2rem;
  background: #333;
  color: #f4f4f4;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: pink;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.text-primary {
  color: pink;
}
